@font-face {
    font-family: Helvetica-Bold;
    src: url('Helvetica-Bold.ttf');
}
.root *{
    -fx-font-family: 'Helvetica-Bold';
}
.text-field 
{
    -fx-font-size: 16px ;
}

.whiteButton
{
-fx-background-color: #eeeeee;
}
.whiteButton:hover 
{
-fx-background-color: #4CA1A3; 
-fx-font-size:  18px;
-fx-cursor: hand;

}
.whiteButton:pressed
{
-fx-background-color: #00adb5;
}

.blueButton
{
-fx-background-color: #00adb5;
}
.blueButton:hover 
{
-fx-background-color: #4CA1A3; 
-fx-font-size:  18px;
-fx-cursor: hand;

}
.blueButton:pressed
{
-fx-background-color: #eeeeee;
}
