.table-view .column-header,
.table-view .column-header-background .filler
{
    -fx-background-color: #00adb5;
}
.table-view .column-header .label
{
    -fx-text-fill: #eeeeee;
    -fx-alignment: CENTER;
}

.table-view .cell
{
    -fx-cell-size: 30;
    -fx-background-color: #eeeeee;
    -fx-alignment: CENTER;
    -fx-text-fill: black; 
}
